
  <!--*******************************************************************-->
  <!--****** I n t e r a c t i v e   T r a n s c r i p t   {{no}} ************-->
  <!--*******************************************************************-->

  <audio id="hyperplayer{{no}}" style="z-index: 5000000; position:relative; width:400px" src="{{audio_url}}" controls></audio>

  <div id="hypertranscript{{no}}" class="hyperaudio-transcript" data-instance="1" style="overflow-y:scroll; height:600px; position:relative; border-style:dashed; border-width: 1px; border-color:#999; padding: 8px">
    <article>
      <header></header>
      <section class="active">
      <header></header>
      {{transcript}}
      <footer></footer>
    </section>
    </article>
  </div>
