<!-- Version 2.0.0 -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/hyperaudio-lite-player.css">
  <link rel="stylesheet" href="css/pl_case_styles.css">
  <script src="js/transcript.js"></script>
</head>
<body>
  <h1><a href= "{{reader_course_url}}">{{title}}</a></h1>
  <p><a href="index.html">Other courses.</a></p>
  <p>{{course_description}}</p>

  <div class="lesson">
    <p>Material is from <a href="https://www.lingq.com/">LingQ</a>, a language learning platform.</p>
    <h3>Key 🔑</h3>
    <ul>
      <li>Number: <span class="Number_Plur">Plur</span> <span class="Number_Ptan">Ptan</span></li>
      <li>Gender: <span class="Gender_Masc">Masc</span> <span class="Gender_Fem">Fem</span> <span
              class="Gender_Neut">Neut</span></li>
      <li>Case:</li>
        <ul>
            <li><span class="Case_Nom">Nominative (Mianownik)</span></li>
            <li><span class="Case_Acc">Accusative (Biernik)</span></li>
            <li><span class="Case_Ins">Instrumental (Narzędnik)</span></li>
            <li><span class="Case_Gen">Genitive (Dopełniacz)</span></li>
            <li><span class="Case_Loc">Locative (Miejscownik)</span></li>
            <li><span class="Case_Dat">Dative (Celownik)</span></li>
            <li><span class="Case_Voc">Vocative (Wołacz)</span></li>
        </ul>
      <li>Animacy: <span class="Animacy_Inan">Inan</span> <span class="Animacy_Nhum">Nhum</span> 
          <span class="Animacy_Hum">Hum</span>
      </li>
    </ul>
    <p>Hover your cursor over any word to see more morphological information, including what is the dictionary (lemmatized) form of the word and what part of speech it is in the context.</p>
  </div>
  {{players}}
  <script src="js/hyperaudio-lite.js"></script>
  <script>
  {{initialise_players}}
  </script>
</body>
</html>
