
  <!--*******************************************************************-->
  <!--****** I n t e r a c t i v e   T r a n s c r i p t   {{no}} ************-->
  <!--*******************************************************************-->
  <div class='lesson disable_person_highlights'>
    <h2><a href="{{reader_lesson_url}}">{{title}}</a></h2>
    <audio id="hyperplayer{{no}}" src="{{audio_url}}" controls></audio>
    <div class="highlight_controls">
      toggle:
      <button data-what="gender_highlights" class="click_to_disable_grammar">gender highlighting</button>
      <button data-what="animacy_highlights" class="click_to_disable_grammar">animacy highlighting</button>
      <button data-what="case_highlights" class="click_to_disable_grammar">case highlighting</button>
      <button data-what="number_highlights" class="click_to_disable_grammar">number highlighting</button>
    </div>  
    <div id="hypertranscript{{no}}" class="hyperaudio-transcript" data-instance="{{no}}">
      <article>
        <section class="active">
          {{transcript}}
        </section>
      </article>
    </div>
  </div>    
